@page
@model DrawingApp.Pages.TextDocumentModel
@{
}

<script src="~/js/textDocumentScript.js" defer></script>

<h1>Text Document</h1>

<div>
   <textarea id="textDocument" autofocus rows="30" cols="200"></textarea>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>